* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
p {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.container-gallery {
  position: relative;
}
.heading-secondary,
.heading-tertiary {
  letter-spacing: -0.5px;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
  color: #eaeaea;
}
.heading-secondary.heading-secondary--dark {
  color: #2f2f2f;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  color: #e67e22;
  margin-bottom: 1.2rem;
  letter-spacing: -0.5px;
}
.subheading {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  color: #e67e22;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.subheading.subheading--dark {
  color: #eaeaea;
}
.button:link,
.button:visited {
  font-size: 2.5rem;
  display: inline-block;
  text-align: center;
  background-color: #e67e22;
  color: #f8f9fa;
  text-decoration: none;
  padding: 2rem 3.2rem;
  border-radius: 0.9rem;
  transition: all 0.3s;
}
.button:hover,
.button:active {
  background-color: #b5a472;
}
.box-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
