@media (max-width: 1399.99px) {
  .section-about:before {
    width: 200rem;
    height: 200rem;
  }
}
@media (max-width: 1199.98px) {
  .section-about:before {
    width: 150rem;
    height: 150rem;
  }
  .section-how:before {
    width: 35rem;
    height: 35rem;
  }
  .section-how:after {
    width: 35rem;
    height: 35rem;
  }
  .logo-main:link,
  .logo-main:visited {
    font-size: 2.4rem;
  }
  .navigation {
    font-size: 2rem;
    font-weight: 700;
  }
  .nav-list--main {
    gap: 3rem;
  }
  .order-img {
    display: none;
  }
  .order-box {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 991.98px) {
  .nav-button-mobile {
    display: block;
  }
  .navigation {
    background-color: rgba(27, 31, 43, 0.938);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .nav-mobile-icon[name="close-outline"] {
    display: block;
  }

  .nav-open .nav-mobile-icon[name="menu-outline"] {
    display: none;
  }
  .section-about:before {
    width: 100rem;
    height: 100rem;
    bottom: 20%;
  }
  .heading-secondary {
    font-size: 5rem;
  }
  .subheading {
    font-size: 2.6rem;
  }
  .about-img {
    width: 50%;
  }
  .about-text {
    font-size: 2.4rem;
  }
  .how-box {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .how-box__change {
    flex-direction: column-reverse;
  }
  .how-number {
    font-size: 8rem;
  }
  .heading-tertiary {
    font-size: 3.4rem;
  }
  .how-description {
    font-size: 2.4rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-weight: 700;
    font-size: 2.8rem;
  }
  .nav-list--main {
    flex-direction: column;
    gap: 4.8rem;
  }
  .us-boxes {
    flex-direction: column;
    gap: 0rem;
    align-items: center;
  }
  .feature {
    width: 65%;
    margin-bottom: 8rem;
    align-items: center;
  }
  .feature-icon {
    width: 4rem;
    height: 4rem;
  }
  .feature-title {
    font-size: 4rem;
  }
  .feature-text {
    font-size: 2.4rem;
  }
  .choice-boxes {
    flex-direction: column;
    align-items: center;
  }
  .choice-box {
    width: 65%;
  }
  .choice-title {
    font-size: 4.4rem;
  }
  .list-item {
    font-size: 2.4rem;
  }
  .list-icon {
    width: 4rem;
    height: 4rem;
  }
  .choice-button:link,
  .choice-button:visited {
    font-size: 2.8rem;
  }
  .order-box {
    grid-template-columns: 1fr;
  }
  .order-img {
    display: none;
  }
  .order-form {
    grid-template-columns: 1fr;
    margin: 0 10rem 0 10rem;
  }
  .order-form input,
  .order-form textarea,
  .order-form select {
    margin-bottom: 5rem;
  }
  .order-button {
    grid-column: 1;
    margin-top: 1.2rem;
  }
  .order-form label {
    font-size: 2.6rem;
  }
  .button:link,
  .button:visited {
    font-size: 3rem;
  }
  .logo-footer {
    grid-column: 1 / 4;
  }
  .logo-main:link,
  .logo-main:visited {
    font-size: 3.6rem;
  }
}
@media (max-width: 767.98px) {
  .logo-main:link,
  .logo-main:visited {
    font-size: 2.4rem;
  }
  .hero-title {
    font-size: 4rem;
  }
  .button:link,
  .button:visited {
    font-size: 2.2rem;
  }
  .button-second:link,
  .button-second:visited {
    font-size: 4rem;
  }
  .section-about:before {
    width: 60rem;
    height: 60rem;
    bottom: 70%;
  }
  .about-box {
    flex-direction: column;
  }
  .about-box__text {
    margin-top: 5rem;
    width: 100%;
  }
  .how-box__text {
    width: 70%;
  }
  .how-img {
    width: 70%;
    height: 90%;
  }
  .choice-box {
    width: 80%;
  }
  .order-form {
    grid-template-columns: 1fr;
    margin: 0 3rem 0 3rem;
  }
  @media (max-width: 575.98px) {
    .subheading {
      font-size: 2.4rem;
    }
    .heading-secondary {
      font-size: 4.6rem;
    }
    .header {
      padding: 1rem 3rem;
    }
    .logo-main:link,
    .logo-main:visited {
      font-size: 2rem;
    }
    .hero {
      padding: 3vh 4rem;
    }
    .hero-title {
      font-size: 2.8rem;
    }
    .button:link,
    .button:visited {
      font-size: 1.6rem;
    }
    .button-second:link,
    .button-second:visited {
      font-size: 4rem;
    }
    .section-about:before {
      width: 40rem;
      height: 40rem;
      bottom: 80%;
    }
    .about-img {
      width: 60%;
    }
    .about-box__img {
      width: 100%;
    }
    .about-box__text {
      margin-top: 5rem;
      width: 100%;
    }
    .how-box__text {
      width: 80%;
    }
    .section-us {
      background-attachment: local;
    }
    .feature {
      width: 100%;
    }
    .choice-box {
      width: 100%;
    }
    .section-order {
      background-attachment: local;
    }
    .order-box__options {
      padding: 4.8rem 2rem 2.4rem 2rem;
    }
    .grid {
      column-gap: 3rem;
    }
  }
}
