.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1f2b;
  padding: 2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;
}
.logo-main:link,
.logo-main:visited {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 3rem;
  color: #dee2e6;
  transition: all 0.5s;
}
.logo-main::first-letter {
  color: #e67e22;
}
.logo-main:hover,
.logo-main:active {
  color: #e67e22;
}
.logo {
  height: 5.2rem;
}
.navigation {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.nav-list--main {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #eaeaea;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:active,
.nav-link.active {
  color: #e67e22;
}
.nav-link.nav-link--main:link,
.nav-link.nav-link--main:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  color: #f8f9fa;
  background-color: rgb(230, 125, 34);
}
.nav-link.nav-link--main:hover,
.nav-link.nav-link--main:active {
  background-color: #b5a472;
}
.nav-button-mobile {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.nav-mobile-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #e67e22;
}
.nav-mobile-icon[name="close-outline"] {
  display: none;
}
.hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(43, 58, 78, 0.511),
      rgba(43, 58, 78, 0.511)
    ),
    url("../img/Hero-foto.jpg");
  background-size: cover;
  padding: 20vh 4rem 10vh 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-title {
  display: inline-block;
  font-size: 5.2rem;
  line-height: 1.5;
  color: #dee2e6;
  margin: 0 auto 5rem auto;
  max-width: 100rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}
.hero-button {
  display: flex;
  flex-direction: column;
}
.button-second:link,
.button-second:visited {
  position: absolute;
  bottom: 0;
  font-size: 5rem;
  color: #f8f9fa;
  transition: all 0.3s;
  align-self: center;
}
.button-second:hover {
  font-size: 6rem;
  animation: none;
}
.bounce {
  animation: bounce 2s infinite;
}

.section-about {
  padding: 3.2rem 0 9.6rem 0;
  background-color: #2b3a4e;
  position: relative;
  overflow: hidden;
}
.section-about:before {
  content: "";
  width: 300rem;
  height: 300rem;
  border-radius: 50%;
  background-color: rgba(230, 126, 34, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 0);
  z-index: 0;
}
.section-about .container {
  position: relative;
  z-index: 2;
}
.about-box {
  position: relative;
  background-color: #1a232f;
  padding: 3.2rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.352);
  display: flex;
  align-items: center;
}
.about-box__img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-img {
  background-image: url("../img/Foto_face.jpg");
  width: 18rem;
  height: 18rem;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #8b827d;
}
.about-text {
  font-size: 1.8rem;
  font-weight: 500;
  color: #eaeaea;
  margin-top: 3rem;
}
.about-box__text {
  width: 50%;
  padding: 2.4rem;
  border: 2px solid #8b827d;
  border-radius: 2rem;
}
.about-box__text p {
  color: #eaeaea;
  font-weight: 400;
}
.section-how {
  padding: 0 0 6.4rem 0;
  background-color: #2b3a4e;
  position: relative;
}
.section-how .container {
  position: relative;
  z-index: 2;
}
.section-how:before {
  content: "";
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: rgba(230, 126, 34, 0.3);
  position: absolute;
  top: 10%;
  left: 0;
  margin-left: -250px;
  z-index: 0;
  animation: floatingUp 15s ease-in-out infinite;
  animation-delay: 2s;
}
.section-how:after {
  content: "";
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: rgba(230, 126, 34, 0.3);
  position: absolute;
  top: 20%;
  right: 0;
  z-index: 0;
  margin-right: -250px;
  animation: floatingDown 15s ease-in infinite;
  animation-delay: 1s;
}
.how-box {
  display: flex;
  gap: 16rem;
  margin-top: 18rem;
  align-items: center;
}
.how-box__text {
  width: 50%;
}
.how-number {
  font-size: 7.4rem;
  font-weight: 600;
  color: #eaeaea;
}
.how-description {
  font-size: 2rem;
  font-weight: 400;
  color: #eaeaea;
  letter-spacing: 0.75px;
  padding-bottom: 4rem;
  border-bottom: 4px solid #e16f3a9e;
}
.how-img {
  width: 40%;
  border-radius: 1.5rem;
}
.section-us {
  padding: 3.2rem 0 9.6rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(43, 58, 78, 0.911),
      rgba(43, 58, 78, 0.612)
    ),
    url("../img/blog-two-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.us-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 1rem;
  width: 23%;
}
.feature-icon {
  color: #edf2ff;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #8b827d;
  padding: 1.6rem;
  margin-bottom: 2.4rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #e67e22;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.feature-text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #eaeaea;
}
.section-gallery {
  padding: 3.2rem 0 9.6rem 0;
  background-color: #2b3a4e;
}
.gallery {
  display: none;
  position: relative;
}
.gallery-img {
  width: 100%;
  height: 60rem;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}
.gallery-prev,
.gallery-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 1.6rem;
  color: #edf2ff;
  font-weight: bold;
  font-size: 2.4rem;
  transition: 0.6s;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.gallery-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.gallery-prev:hover,
.gallery-next:hover {
  background-color: rgba(230, 125, 34, 0.834);
}
.gallery-text {
  color: #edf2ff;
  background-color: rgba(230, 125, 34, 0.75);
  position: absolute;
  font-size: 2.4rem;
  padding: 0.8px 1.2rem;
  bottom: 0.8rem;
  display: inline-block;
}
.dot {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin: 1rem 0.2rem 0 0.2rem;
  background-color: #edf2ff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.open,
.dot:hover {
  background-color: #e67e22;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.section-choice {
  padding: 3.2rem 0 9.6rem 0;
  background-color: #2b3a4e;
}
.choice-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
.choice-box {
  border-radius: 11px;
  background-color: #1a232f;
  box-shadow: 0 1.6rem 4.8rem rgba(0, 0, 0, 0.146);
  width: 47%;
  overflow: hidden;
}
.choice-img {
  width: 100%;
  height: 25rem;
  position: relative;
  background-size: cover;
}
.choice-box-content {
  padding: 3.2rem;
  text-align: center;
}
.choice-title {
  font-size: 3rem;
  color: #e67e22;
  font-weight: 700;
  margin-bottom: 2.4rem;
  display: block;
}
.list-box {
  margin-bottom: 4.8rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
  margin-bottom: 0.4rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #8b827d;
}
.list-text {
  font-size: 2rem;
  color: #eaeaea;
  font-weight: 400;
  flex: 1;
  text-align: left;
}
.choice-button:link,
.choice-button:visited {
  font-size: 2rem;
  text-align: center;
  background-color: #e67e22;
  color: #f8f9fa;
  text-decoration: none;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.choice-button:hover,
.choice-button:active {
  background-color: #b5a472;
}
.section-order {
  padding: 3.2rem 0 9.6rem 0;
  background-image: linear-gradient(
      rgba(43, 58, 78, 0.511),
      rgba(43, 58, 78, 0.511)
    ),
    url("../img/white-wall-living-room-have-sofa-decoration-3d-rendering.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.order-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.352);
  background-color: rgba(0, 0, 0, 0.5);
}
.order-box__options {
  padding: 4.8rem 6.4rem 2.4rem 6.4rem;
}
.order-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.order-button {
  grid-column: 1 / 3;
  justify-self: center;
  margin: 4.4rem 0 1.2rem 0;
}
.order-img {
  width: 100%;
  height: 100%;
}
.order-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  color: #eaeaea;
}
.order-form input,
.order-form textarea,
.order-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #444;
  border: none;
  background-color: #f8f9fa;
  border-radius: 0.9rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.order-form input::placeholder,
.order-form textarea::placeholder {
  color: #868686;
}
.footer {
  padding: 3.2rem 0;
  background-color: #1b1f2b;
  border-top: 1.75px solid rgba(17, 17, 17, 0.393);
}
.footer-grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: repeat(3, 1fr);
}
.logo-footer {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 3.2rem;
}
.copyright {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #f8f9fa;
}
.heading-footer {
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 2.3rem;
  color: #f8f9fa;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 500;
}
.address {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #eaeaea;
  margin-bottom: 1.2rem;
}
.navigation-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.link-footer:link,
.link-footer:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #eaeaea;
  transition: all 0.3s;
}

.link-footer:hover,
.link-footer:active {
  color: #eaeaea;
}
